<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>Delete</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Delete CpuPm</string>
				<key>OemTableId</key>
				<data>Q3B1UG0AAAA=</data>
				<key>TableSignature</key>
				<data>U1NEVA==</data>
				<key>Enabled</key>
				<false/>
				<key>TableLength</key>
				<integer>0</integer>
				<key>All</key>
				<false/>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Delete Cpu0Ist</string>
				<key>OemTableId</key>
				<data>Q3B1MElzdAA=</data>
				<key>TableSignature</key>
				<data>U1NEVA==</data>
				<key>Enabled</key>
				<false/>
				<key>TableLength</key>
				<integer>0</integer>
				<key>All</key>
				<false/>
			</dict>
		</array>
		<key>Patch</key>
		<array>
			<dict>
				<key>Mask</key>
				<data></data>
				<key>OemTableId</key>
				<data></data>
				<key>Skip</key>
				<integer>0</integer>
				<key>TableLength</key>
				<integer>0</integer>
				<key>ReplaceMask</key>
				<data></data>
				<key>Replace</key>
				<data>WFExMQ==</data>
				<key>Comment</key>
				<string>_Q11 to XQ11</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>X1ExMQ==</data>
				<key>TableSignature</key>
				<data></data>
				<key>Enabled</key>
				<false/>
				<key>Limit</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Mask</key>
				<data></data>
				<key>OemTableId</key>
				<data></data>
				<key>Skip</key>
				<integer>0</integer>
				<key>TableLength</key>
				<integer>0</integer>
				<key>ReplaceMask</key>
				<data></data>
				<key>Replace</key>
				<data>WFExMg==</data>
				<key>Comment</key>
				<string>_Q12 to XQ12</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>X1ExMg==</data>
				<key>TableSignature</key>
				<data></data>
				<key>Enabled</key>
				<false/>
				<key>Limit</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Quirks</key>
		<dict>
			<key>NormalizeHeaders</key>
			<false/>
			<key>RebaseRegions</key>
			<false/>
			<key>ResetHwSig</key>
			<false/>
			<key>ResetLogoStatus</key>
			<false/>
			<key>FadtEnableReset</key>
			<false/>
		</dict>
		<key>Add</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Read the comment in dsl sample</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-PLUG.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Read the comment in dsl sample</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-EC.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Read the comment in dsl sample</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-AWAC.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Read the comment in dsl sample</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-PM.aml</string>
			</dict>
		</array>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>FirmwareFeatures</key>
		<string>0xFD8FF576</string>
		<key>Board-ID</key>
		<string>Mac-CFF7D910A743CAAF</string>
		<key>Trust</key>
		<true/>
		<key>FirmwareFeaturesMask</key>
		<string>0xFFDFFF7F</string>
		<key>BoardVersion</key>
		<string>iMac20,1</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0xD</string>
		<key>BiosVersion</key>
		<string>IM201.88Z.F000.B00.2101062057</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisAssetTag</key>
		<string>Asset Tag#</string>
		<key>PlatformFeature</key>
		<string>0x20</string>
		<key>Family</key>
		<string>iMac</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02032108CDPHCDFB</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>ProductName</key>
		<string>iMac20,1</string>
		<key>SmUUID</key>
		<string>355251D2-2DB7-4F50-A2F5-42574171971B</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>EfiVersion</key>
		<string>1554.80.3.0.0</string>
		<key>SerialNumber</key>
		<string>C02D63Y5PN5T</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>BiosReleaseDate</key>
		<string>01/06/2021</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>Booter</key>
	<dict>
		<key>MmioWhitelist</key>
		<array>
			<dict>
				<key>Address</key>
				<integer>4275159040</integer>
				<key>Comment</key>
				<string>Haswell: SB_RCBA is a 0x4 page memory region, containing SPI_BASE at 0x3800 (SPI_BASE_ADDRESS)</string>
				<key>Enabled</key>
				<false/>
			</dict>
			<dict>
				<key>Address</key>
				<integer>4278190080</integer>
				<key>Comment</key>
				<string>Generic: PCI root is a 0x1000 page memory region used by some firmwares</string>
				<key>Enabled</key>
				<false/>
			</dict>
		</array>
		<key>Quirks</key>
		<dict>
			<key>EnableWriteUnprotector</key>
			<true/>
			<key>ProvideMaxSlide</key>
			<integer>0</integer>
			<key>EnableSafeModeSlide</key>
			<true/>
			<key>SignalAppleOS</key>
			<false/>
			<key>AvoidRuntimeDefrag</key>
			<true/>
			<key>ProtectUefiServices</key>
			<true/>
			<key>DiscardHibernateMap</key>
			<false/>
			<key>DevirtualiseMmio</key>
			<true/>
			<key>SyncRuntimePermissions</key>
			<true/>
			<key>ProvideCustomSlide</key>
			<true/>
			<key>DisableSingleUser</key>
			<false/>
			<key>ForceExitBootServices</key>
			<false/>
			<key>ProtectSecureBoot</key>
			<false/>
			<key>DisableVariableWrite</key>
			<false/>
			<key>SetupVirtualMap</key>
			<false/>
			<key>ProtectMemoryRegions</key>
			<false/>
			<key>RebuildAppleMemoryMap</key>
			<true/>
		</dict>
	</dict>
	<key>Misc</key>
	<dict>
		<key>Security</key>
		<dict>
			<key>ApECID</key>
			<integer>0</integer>
			<key>AllowSetDefault</key>
			<true/>
			<key>Vault</key>
			<string>Optional</string>
			<key>PasswordSalt</key>
			<data></data>
			<key>AllowNvramReset</key>
			<true/>
			<key>HaltLevel</key>
			<integer>2147483648</integer>
			<key>ExposeSensitiveData</key>
			<integer>2</integer>
			<key>ScanPolicy</key>
			<integer>0</integer>
			<key>PasswordHash</key>
			<data></data>
			<key>SecureBootModel</key>
			<string>Disabled</string>
			<key>EnablePassword</key>
			<false/>
			<key>BootProtect</key>
			<string>Bootstrap</string>
			<key>AuthRestart</key>
			<false/>
			<key>DmgLoading</key>
			<string>Any</string>
		</dict>
		<key>Boot</key>
		<dict>
			<key>TakeoffDelay</key>
			<integer>0</integer>
			<key>HideAuxiliary</key>
			<true/>
			<key>PollAppleHotKeys</key>
			<false/>
			<key>Timeout</key>
			<integer>5</integer>
			<key>HibernateMode</key>
			<string>None</string>
			<key>ShowPicker</key>
			<true/>
			<key>PickerAttributes</key>
			<integer>0</integer>
			<key>ConsoleAttributes</key>
			<integer>0</integer>
			<key>PickerAudioAssist</key>
			<false/>
			<key>PickerMode</key>
			<string>Builtin</string>
		</dict>
		<key>Entries</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Not signed for security reasons</string>
				<key>Name</key>
				<string>CustomOS</string>
				<key>Arguments</key>
				<string></string>
				<key>Enabled</key>
				<false/>
				<key>Path</key>
				<string>PciRoot(0x0)/Pci(0x1,0x1)/Pci(0x0,0x0)/NVMe(0x1,11-22-33-44-55-66-77-88)/HD(1,GPT,00000000-0000-0000-0000-000000000000,0x800,0x64000)/\EFI\BOOT\BOOTX64.EFI</string>
				<key>Auxiliary</key>
				<false/>
			</dict>
		</array>
		<key>Tools</key>
		<array>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>Name</key>
				<string>CFGLock</string>
				<key>Arguments</key>
				<string></string>
				<key>Enabled</key>
				<false/>
				<key>Path</key>
				<string>CFGLock.efi</string>
				<key>Auxiliary</key>
				<false/>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>Name</key>
				<string>VerifyMsrE2</string>
				<key>Arguments</key>
				<string></string>
				<key>Enabled</key>
				<false/>
				<key>Path</key>
				<string>VerifyMsrE2.efi</string>
				<key>Auxiliary</key>
				<false/>
			</dict>
		</array>
		<key>Debug</key>
		<dict>
			<key>Target</key>
			<integer>0</integer>
			<key>ApplePanic</key>
			<true/>
			<key>DisableWatchDog</key>
			<false/>
			<key>DisplayLevel</key>
			<integer>2147483650</integer>
			<key>SysReport</key>
			<false/>
			<key>AppleDebug</key>
			<true/>
			<key>DisplayDelay</key>
			<integer>0</integer>
			<key>SerialInit</key>
			<false/>
		</dict>
		<key>BlessOverride</key>
		<array/>
	</dict>
	<key>Kernel</key>
	<dict>
		<key>Scheme</key>
		<dict>
			<key>KernelArch</key>
			<string>x86_64</string>
			<key>FuzzyMatch</key>
			<false/>
			<key>KernelCache</key>
			<string>Auto</string>
		</dict>
		<key>Quirks</key>
		<dict>
			<key>AppleXcpmCfgLock</key>
			<false/>
			<key>PanicNoKextDump</key>
			<false/>
			<key>DisableIoMapper</key>
			<false/>
			<key>LapicKernelPanic</key>
			<false/>
			<key>DisableRtcChecksum</key>
			<false/>
			<key>DummyPowerManagement</key>
			<false/>
			<key>AppleCpuPmCfgLock</key>
			<false/>
			<key>IncreasePciBarSize</key>
			<false/>
			<key>AppleXcpmExtraMsrs</key>
			<false/>
			<key>PowerTimeoutKernelPanic</key>
			<true/>
			<key>CustomSMBIOSGuid</key>
			<false/>
			<key>ThirdPartyDrives</key>
			<true/>
			<key>ExternalDiskIcons</key>
			<false/>
			<key>XhciPortLimit</key>
			<true/>
			<key>DisableLinkeditJettison</key>
			<true/>
			<key>AppleXcpmForceBoost</key>
			<false/>
		</dict>
		<key>Emulate</key>
		<dict>
			<key>Cpuid1Mask</key>
			<data></data>
			<key>DummyPowerManagement</key>
			<false/>
			<key>Cpuid1Data</key>
			<data></data>
			<key>MaxKernel</key>
			<string></string>
			<key>MinKernel</key>
			<string></string>
		</dict>
		<key>Add</key>
		<array>
			<dict>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>BundlePath</key>
				<string>Lilu.kext</string>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/Lilu</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Arch</key>
				<string>Any</string>
			</dict>
			<dict>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>BundlePath</key>
				<string>VirtualSMC.kext</string>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VirtualSMC</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Arch</key>
				<string>Any</string>
			</dict>
			<dict>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>BundlePath</key>
				<string>SMCProcessor.kext</string>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/SMCProcessor</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Arch</key>
				<string>Any</string>
			</dict>
			<dict>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>BundlePath</key>
				<string>SMCSuperIO.kext</string>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/SMCSuperIO</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Arch</key>
				<string>Any</string>
			</dict>
			<dict>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>BundlePath</key>
				<string>AppleALC.kext</string>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/AppleALC</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Arch</key>
				<string>Any</string>
			</dict>
			<dict>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>BundlePath</key>
				<string>WhateverGreen.kext</string>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/WhateverGreen</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Arch</key>
				<string>Any</string>
			</dict>
			<dict>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>BundlePath</key>
				<string>IntelMausi.kext</string>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/IntelMausi</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Arch</key>
				<string>Any</string>
			</dict>
			<dict>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>BundlePath</key>
				<string>XHCI-unsupported.kext</string>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Arch</key>
				<string>Any</string>
			</dict>
			<dict>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>BundlePath</key>
				<string>USBPorts.kext</string>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Arch</key>
				<string>Any</string>
			</dict>
			<dict>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>BundlePath</key>
				<string>AirportItlwm.kext</string>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/AirportItlwm</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Arch</key>
				<string>Any</string>
			</dict>
			<dict>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>BundlePath</key>
				<string>IntelBluetoothFirmware.kext</string>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/IntelBluetoothFirmware</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Arch</key>
				<string>Any</string>
			</dict>
			<dict>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>BundlePath</key>
				<string>IntelBluetoothInjector.kext</string>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Arch</key>
				<string>Any</string>
			</dict>
			<dict>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>BundlePath</key>
				<string>NVMeFix.kext</string>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/NVMeFix</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Arch</key>
				<string>Any</string>
			</dict>
		</array>
		<key>Block</key>
		<array>
			<dict>
				<key>MaxKernel</key>
				<string></string>
				<key>Identifier</key>
				<string>com.apple.driver.AppleTyMCEDriver</string>
				<key>MinKernel</key>
				<string></string>
				<key>Enabled</key>
				<false/>
				<key>Comment</key>
				<string></string>
				<key>Arch</key>
				<string>Any</string>
			</dict>
		</array>
		<key>Patch</key>
		<array>
			<dict>
				<key>MaxKernel</key>
				<string></string>
				<key>Mask</key>
				<data></data>
				<key>Base</key>
				<string>__ZN8AppleRTC18setupDateTimeAlarmEPK11RTCDateTime</string>
				<key>Skip</key>
				<integer>0</integer>
				<key>ReplaceMask</key>
				<data></data>
				<key>Replace</key>
				<data>ww==</data>
				<key>Comment</key>
				<string>Disable RTC wake scheduling</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data></data>
				<key>MinKernel</key>
				<string>19.0.0</string>
				<key>Enabled</key>
				<false/>
				<key>Identifier</key>
				<string>com.apple.driver.AppleRTC</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Arch</key>
				<string>Any</string>
			</dict>
			<dict>
				<key>MaxKernel</key>
				<string>18.5.0</string>
				<key>Mask</key>
				<data></data>
				<key>Base</key>
				<string>_AcpiOsVprintf</string>
				<key>Skip</key>
				<integer>0</integer>
				<key>ReplaceMask</key>
				<data></data>
				<key>Replace</key>
				<data>ww==</data>
				<key>Comment</key>
				<string>Disable ACPI logging</string>
				<key>Count</key>
				<integer>0</integer>
				<key>Find</key>
				<data></data>
				<key>MinKernel</key>
				<string>18.5.0</string>
				<key>Enabled</key>
				<false/>
				<key>Identifier</key>
				<string>com.apple.driver.AppleACPIPlatform</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Arch</key>
				<string>Any</string>
			</dict>
			<dict>
				<key>MaxKernel</key>
				<string></string>
				<key>Mask</key>
				<data>/wAA////////////</data>
				<key>Base</key>
				<string>__ZN11BCM5701Enet14getAdapterInfoEv</string>
				<key>Skip</key>
				<integer>0</integer>
				<key>ReplaceMask</key>
				<data></data>
				<key>Replace</key>
				<data>uLQWAABmiYMABQAA</data>
				<key>Comment</key>
				<string>Broadcom BCM57785 patch</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>6AAA//9miYMABQAA</data>
				<key>MinKernel</key>
				<string></string>
				<key>Enabled</key>
				<false/>
				<key>Identifier</key>
				<string>com.apple.iokit.AppleBCM5701Ethernet</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Arch</key>
				<string>Any</string>
			</dict>
			<dict>
				<key>MaxKernel</key>
				<string></string>
				<key>Mask</key>
				<data></data>
				<key>Base</key>
				<string>_panic</string>
				<key>Skip</key>
				<integer>0</integer>
				<key>ReplaceMask</key>
				<data></data>
				<key>Replace</key>
				<data>MduKD4TJdQT/w7EKZrr9A+yoIHT7Zrr4A4jI7kj/x4XbdN/r/g==</data>
				<key>Comment</key>
				<string>Send panic string to serial port</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data></data>
				<key>MinKernel</key>
				<string></string>
				<key>Enabled</key>
				<false/>
				<key>Identifier</key>
				<string>kernel</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Arch</key>
				<string>Any</string>
			</dict>
			<dict>
				<key>MaxKernel</key>
				<string></string>
				<key>Mask</key>
				<data></data>
				<key>Base</key>
				<string>_kernel_debug_string_early</string>
				<key>Skip</key>
				<integer>0</integer>
				<key>ReplaceMask</key>
				<data></data>
				<key>Replace</key>
				<data>MduKD4TJdQT/w7EKZrr9A+yoIHT7Zrr4A4jI7kj/x4XbdN/D</data>
				<key>Comment</key>
				<string>Send early prints to serial port</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data></data>
				<key>MinKernel</key>
				<string></string>
				<key>Enabled</key>
				<false/>
				<key>Identifier</key>
				<string>kernel</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Arch</key>
				<string>Any</string>
			</dict>
			<dict>
				<key>MaxKernel</key>
				<string></string>
				<key>Mask</key>
				<data></data>
				<key>Base</key>
				<string>_vstart</string>
				<key>Skip</key>
				<integer>0</integer>
				<key>ReplaceMask</key>
				<data></data>
				<key>Replace</key>
				<data>sUtmuv0D7KggdPtmuvgDiMjusQpmuv0D7KggdPtmuvgDiMju6/4=</data>
				<key>Comment</key>
				<string>Print K and dead loop</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data></data>
				<key>MinKernel</key>
				<string></string>
				<key>Enabled</key>
				<false/>
				<key>Identifier</key>
				<string>kernel</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Arch</key>
				<string>Any</string>
			</dict>
		</array>
		<key>Force</key>
		<array/>
	</dict>
	<key>NVRAM</key>
	<dict>
		<key>LegacyOverwrite</key>
		<false/>
		<key>LegacyEnable</key>
		<false/>
		<key>Delete</key>
		<dict>
			<key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
			<array>
				<string>boot-args</string>
			</array>
			<key>4D1EDE05-38C7-4A6A-9CC6-4BCCA8B38C14</key>
			<array>
				<string>UIScale</string>
				<string>DefaultBackgroundColor</string>
			</array>
			<key>4D1FDA02-38C7-4A6A-9CC6-4BCCA8B30102</key>
			<array>
				<string>rtc-blacklist</string>
			</array>
		</dict>
		<key>LegacySchema</key>
		<dict>
			<key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
			<array>
				<string>EFILoginHiDPI</string>
				<string>EFIBluetoothDelay</string>
				<string>LocationServicesEnabled</string>
				<string>SystemAudioVolume</string>
				<string>SystemAudioVolumeDB</string>
				<string>SystemAudioVolumeSaved</string>
				<string>bluetoothActiveControllerInfo</string>
				<string>bluetoothInternalControllerInfo</string>
				<string>flagstate</string>
				<string>fmm-computer-name</string>
				<string>nvda_drv</string>
				<string>prev-lang:kbd</string>
			</array>
			<key>8BE4DF61-93CA-11D2-AA0D-00E098032B8C</key>
			<array>
				<string>Boot0080</string>
				<string>Boot0081</string>
				<string>Boot0082</string>
				<string>BootNext</string>
				<string>BootOrder</string>
			</array>
		</dict>
		<key>WriteFlash</key>
		<true/>
		<key>Add</key>
		<dict>
			<key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
			<dict>
				<key>boot-args</key>
				<string>keepsyms=1 debug=0x100 </string>
				<key>run-efi-updater</key>
				<string>No</string>
				<key>SystemAudioVolume</key>
				<data>Rg==</data>
				<key>prev-lang:kbd</key>
				<string>zh-Hans:252</string>
			</dict>
			<key>4D1EDE05-38C7-4A6A-9CC6-4BCCA8B38C14</key>
			<dict>
				<key>UIScale</key>
				<data>AQ==</data>
				<key>DefaultBackgroundColor</key>
				<data>AAAAAA==</data>
			</dict>
			<key>4D1FDA02-38C7-4A6A-9CC6-4BCCA8B30102</key>
			<dict>
				<key>rtc-blacklist</key>
				<data></data>
			</dict>
		</dict>
	</dict>
	<key>UEFI</key>
	<dict>
		<key>Output</key>
		<dict>
			<key>SanitiseClearScreen</key>
			<false/>
			<key>IgnoreTextInGraphics</key>
			<false/>
			<key>Resolution</key>
			<string>Max</string>
			<key>TextRenderer</key>
			<string>BuiltinGraphics</string>
			<key>ConsoleMode</key>
			<string></string>
			<key>DirectGopRendering</key>
			<false/>
			<key>ProvideConsoleGop</key>
			<true/>
			<key>ReconnectOnResChange</key>
			<false/>
			<key>UgaPassThrough</key>
			<false/>
			<key>ClearScreenOnModeSwitch</key>
			<false/>
			<key>ReplaceTabWithSpace</key>
			<false/>
		</dict>
		<key>ConnectDrivers</key>
		<true/>
		<key>APFS</key>
		<dict>
			<key>MinVersion</key>
			<integer>0</integer>
			<key>GlobalConnect</key>
			<false/>
			<key>EnableJumpstart</key>
			<true/>
			<key>HideVerbose</key>
			<true/>
			<key>MinDate</key>
			<integer>0</integer>
			<key>JumpstartHotPlug</key>
			<true/>
		</dict>
		<key>Audio</key>
		<dict>
			<key>MinimumVolume</key>
			<integer>20</integer>
			<key>AudioOut</key>
			<integer>0</integer>
			<key>VolumeAmplifier</key>
			<integer>0</integer>
			<key>AudioCodec</key>
			<integer>0</integer>
			<key>PlayChime</key>
			<false/>
			<key>AudioDevice</key>
			<string>PciRoot(0x0)/Pci(0x1b,0x0)</string>
			<key>AudioSupport</key>
			<false/>
		</dict>
		<key>Quirks</key>
		<dict>
			<key>DeduplicateBootOrder</key>
			<true/>
			<key>IgnoreInvalidFlexRatio</key>
			<false/>
			<key>ExitBootServicesDelay</key>
			<integer>0</integer>
			<key>RequestBootVarRouting</key>
			<true/>
			<key>ReleaseUsbOwnership</key>
			<false/>
			<key>TscSyncTimeout</key>
			<integer>0</integer>
			<key>UnblockFsConnect</key>
			<false/>
		</dict>
		<key>Input</key>
		<dict>
			<key>PointerSupport</key>
			<false/>
			<key>KeySupportMode</key>
			<string>Auto</string>
			<key>PointerSupportMode</key>
			<string>ASUS</string>
			<key>KeySupport</key>
			<true/>
			<key>TimerResolution</key>
			<integer>50000</integer>
			<key>KeyMergeThreshold</key>
			<integer>2</integer>
			<key>KeySwap</key>
			<false/>
			<key>KeyForgetThreshold</key>
			<integer>5</integer>
			<key>KeyFiltering</key>
			<false/>
		</dict>
		<key>ReservedMemory</key>
		<array>
			<dict>
				<key>Address</key>
				<integer>268435456</integer>
				<key>Enabled</key>
				<false/>
				<key>Comment</key>
				<string>HD3000: IGPU memory corruption errata</string>
				<key>Size</key>
				<integer>268435456</integer>
			</dict>
		</array>
		<key>ProtocolOverrides</key>
		<dict>
			<key>HashServices</key>
			<false/>
			<key>UnicodeCollation</key>
			<false/>
			<key>AppleFramebufferInfo</key>
			<false/>
			<key>OSInfo</key>
			<false/>
			<key>AppleSmcIo</key>
			<false/>
			<key>DataHub</key>
			<false/>
			<key>AppleSecureBoot</key>
			<false/>
			<key>AppleRtcRam</key>
			<false/>
			<key>AppleImageConversion</key>
			<false/>
			<key>AppleBootPolicy</key>
			<false/>
			<key>AppleAudio</key>
			<false/>
			<key>AppleImg4Verification</key>
			<false/>
			<key>AppleUserInterfaceTheme</key>
			<false/>
			<key>AppleEvent</key>
			<false/>
			<key>AppleDebugLog</key>
			<false/>
			<key>DeviceProperties</key>
			<false/>
			<key>FirmwareVolume</key>
			<false/>
			<key>AppleKeyMap</key>
			<false/>
		</dict>
		<key>Drivers</key>
		<array>
			<string>HfsPlus.efi</string>
			<string>OpenRuntime.efi</string>
		</array>
	</dict>
	<key>DeviceProperties</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x3)</key>
			<dict>
				<key>model</key>
				<string>Realtek ALCS1200A</string>
				<key>layout-id</key>
				<data>MgAAAA==</data>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,3</string>
				<key>device_type</key>
				<string>Audio device</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>BwCbPg==</data>
				<key>model</key>
				<string>Intel UHD Graphics 630</string>
				<key>device-id</key>
				<data>mz4AAA==</data>
				<key>AAPL,slot-name</key>
				<string>Internal@0,2,0</string>
				<key>device_type</key>
				<string>Display controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x6)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,6</string>
				<key>device_type</key>
				<string>Ethernet controller</string>
				<key>model</key>
				<string>Ethernet Connection (12) I219-V</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,27,0/0,0</string>
				<key>device_type</key>
				<string>Network controller</string>
				<key>model</key>
				<string>Intel Wi-Fi 6 AX200 </string>
			</dict>
		</dict>
		<key>Delete</key>
		<dict/>
	</dict>
	<key>PlatformInfo</key>
	<dict>
		<key>Generic</key>
		<dict>
			<key>ROM</key>
			<data></data>
			<key>SystemSerialNumber</key>
			<string>C02D9GZLPN5T</string>
			<key>AdviseWindows</key>
			<false/>
			<key>SystemProductName</key>
			<string>iMac20,1</string>
			<key>SystemUUID</key>
			<string></string>
			<key>MLB</key>
			<string></string>
			<key>SpoofVendor</key>
			<true/>
		</dict>
		<key>UpdateNVRAM</key>
		<true/>
		<key>Automatic</key>
		<true/>
		<key>UpdateSMBIOS</key>
		<true/>
		<key>UpdateDataHub</key>
		<true/>
		<key>UpdateSMBIOSMode</key>
		<string>Create</string>
	</dict>
</dict>
</plist>
